{{#each articles}}
{{#rowOpen @index}}
{{/rowOpen}}
<div class="card">
    <div class="card-header headline">
        <h2>{{headline}}</h2>
    </div>
    <div class="card-body summary">{{summary}}</div>
    <div class="card-footer">
        <a href="{{link}}" class="btn btn-primary" target="_blank">Go to Article</a>
        <button data-id="{{_id}}" class='btn btn-secondary comment' data-toggle="modal" data-target='#modal{{_id}}'>Add a comment</button>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal{{_id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comments for {{headline}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <ul class='list-group'>
                    {{#if comment}}
                        {{#each comment}}
                        <li class='list-group-item'>{{body}}<button type="button" class="btn btn-outline-danger float-right delete" data-id="{{_id}}" data-dismiss="modal">x</button></li>
                        {{/each}}
                    {{else}}
                        <li class="list-group-item">There are no comments for this article.</li>
                    {{/if}}
                </ul>
                <hr>
                <textarea placeholder="Write something about this article!" id="newComment{{_id}}" required></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary addComment" data-articleid="{{_id}}">Add comment</button>
            </div>
        </div>
    </div>
</div>
{{#rowClose @index}}
{{/rowClose}}
{{/each}}